/* Color Codes from CSUSM main page
------------
Dark Blue:				#010044
Light Blue (Header Underline):		#889Ec7
Maroon (Horizontal Bars):		#580000
Light Maroon				#833227
Lighter Maroon				#C6675C
Dark Grey (Dividing Lines):		#53556A
Sand Color (Content Background):	#F3F2ED
Sand Color darker (Content Background):	#E7E4D9
Light Grey (Footer Background):		#C0C0C0
Orange (Linklist Hover Color):		#FF9900
*/

*, html{
	margin:0 auto;
	padding:0;
	text-decoration:none;
}

body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #FFFFFF url('http://www.csusm.edu/images/content-backgrounds/content_wrapper_subbg_02.gif') repeat-x;
}

table.main {
	background: #FFFFCC;
	border: 2px #96C2F1 solid;
	width: 880;
	border-collapse: collapse;
	padding: 2px;
	padding-left: 10px;
	margin-left: 10px;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p {
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.description {
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;	
}

p.answer {
	background:yellow;
}

p.note {
	margin: 5px;
	padding: 5px;
	background:#D3E3C7;
	border-style:solid;
	border-width: 1px;
}

h4 {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
}

img.embedded {
	width: 250px;
	height: 200px;
}

img.large {
	width: 420px;
	height: 280px;
}

img.medium {
	width: 350px;
	height: 240px;
}

#menu {
	margin: 5px;
	padding: 3px;
	border-style:dotted;
	border-width: 1px;	
}

.highlight {
	background:yellow;
	border-style:solid;
	border-width: 1px;
}



/* taken from iQUEST to for the background of the page */
#content_wrapper_custom
{
	width: 100%;
	background: #FFFFFF url('http://www.csusm.edu/images/content-backgrounds/content_wrapper_subbg_02.gif') repeat-x;
	z-index: 0;	
}

#bar{
	width:100%;
	float:left;
	border:2px solid #96C2F1;
}

#map_canvas {
	width: 100%; 
	height: 180px;
	valign: top;
}

#info_content {
	text-align: center;
	color: blue;
	font-size: 12px;
}

#map3d_container {
	float:left;
	height: 400px; 
	width: 100%;
}

#page_container {
	float:left;
	height: 400px; 
	width: 100%;
}

#info_box {
	float:left;
	width: 100%; 
}

h4 {
	color: #010044;
	text-align: left;
	/*background:lightblue;*/
}

h5{
	color: #010044;
	text-align: center;
	/*background:lightblue;*/
}

.logo {
	height: 100px;
	background:white;
}

.c{ clear:both;}


/*pagebar css*/
#pagebar {
    float:left;
    display:inline;
    width:100%;
    height:22px;
    margin:0px;
	padding::0px;
    font-size:11px; 
	background:#7082C2;
}

#pagebar a,#pagebar .page_now {
    display:block;
    float:left;
    margin-right:4px;
    padding:2px 5px;
    border:1px solid #f30;
    color:#fff;
	font-weight:800;
    background:url(pagebar_bg.png) repeat-x  0 0 ;
}

#pagebar a {
    display:inline;
}

#pagebar img {
	border-style:none;
	vertical-align:middle;
}

#pagebar a:hover {
    border:1px solid #03c;
    background-position:0 -30px;
}
#pagebar .page_now {
    border:1px solid #333;
    background-image:none;
    background:#666;
}

