.elem {
	display: block;
	min-height:100%;
	width:700px;
	position: relative;
	
}
.elem img{
	height: 80px;
	width:100px;
	margin-left:580px;
	margin-right:40px;
	position: absolute;
	
}
.elem label{
	width:300px;
	height: auto;
	margin:3px;
	padding:2px;
}
.elem select{
	float:left;
}
.elem textarea{
	float:left;
	width:300px;
}
.elem hr{
	height:4px;
	width: 85%;
	background-color: black;
}
.dummyimg{
	height: 80px;
	width:100px;
	
	margin-right:40px;
	float:right;
	
}
#students {
	margin-left:700px;
	position: fixed;
}
