.activityTable {
	min-height: 100%;
	width: 650px;
	position: relative;
}

#activity {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.activityItem {
	margin-left: 0px;
	width: 650px;
}

.activityItem:nth-child(odd) {
	margin-left: 0px;
	background-color: #f2f2f2;
}

.activityPhotoCell {
	width: 200px;
}

.aboutPhotoCell {
	width: 600px;
}

.activityTable img {
	height: 160px;
	width: 200px;
}

.questionLabel {
	font-weight: bold;
	font-style: italic;
}

.multipleChoiceAnswers {
	list-style-type: lower-alpha;
	padding-bottom: 1px;
}

.multipleChoiceAnswers li {
	margin-bottom: .5em;
	background-color: none;
}

.correctAnswer {
	color: green;
	border-bottom-color: green;
	border-bottom-style: dotted;
}

.elem {
	display: block;
	min-height:100%;
	width:700px;
	position: relative;
	
}
.elem img{
	height: 80px;
	width:100px;
	margin-left:580px;
	margin-right:40px;
	position: absolute;
	
}
.elem label{
	width:300px;
	height: auto;
	margin:3px;
	padding:2px;
}
.elem select{
	float:left;
}
.elem textarea{
	float:left;
	width:300px;
}
.elem hr{
	height:4px;
	width: 85%;
	background-color: black;
}
.dummyimg{
	height: 80px;
	width:100px;
	
	margin-right:40px;
	float:right;
	
}
#students {
	margin-left:700px;
	position: fixed;
}
