html, body {
	height: 100%;
}
#main {
	width: 960px;
	padding: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 40px;
	
}
body {
	font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
	margin: 0;
	background-color: #d9dee2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebeef2), to(#d9dee2));
	background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: linear-gradient(top, #ebeef2, #d9dee2);
}

/*--------------------*/

#login {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	height: 240px;
	width: 400px;
	margin: -150px 0 0 -230px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0,   0,   0,   .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0,   0,   0,   .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0,   0,   0,   .1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

#login:before {
/*	content: ''; */
	position: absolute;
	z-index: -1;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #666;
	margin: 0 0 30px 0;
	letter-spacing: 4px;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
}

h1:after, h1:before {
	background-color: #777;
	content: "";
	height: 1px;
	position: absolute;
	top: 15px;
	width: 120px;
}

h1:after {
	background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
	background-image: -webkit-linear-gradient(left, #777, #fff);
	background-image: -moz-linear-gradient(left, #777, #fff);
	background-image: -ms-linear-gradient(left, #777, #fff);
	background-image: -o-linear-gradient(left, #777, #fff);
	background-image: linear-gradient(left, #777, #fff);
	right: 0;
}

h1:before {
	background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
	background-image: -webkit-linear-gradient(right, #777, #fff);
	background-image: -moz-linear-gradient(right, #777, #fff);
	background-image: -ms-linear-gradient(right, #777, #fff);
	background-image: -o-linear-gradient(right, #777, #fff);
	background-image: linear-gradient(right, #777, #fff);
	left: 0;
}

/*--------------------*/

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
#activity fieldset {
	float: left;
	width: 450px;
	
}
/*--------------------*/

#inputs input {
	background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
	padding: 15px 15px 15px 30px;
	margin: 0 0 10px 0;
	width: 353px; /* 353 + 2 + 45 = 400 */
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username {
	background-position: 5px -2px !important;
}

#password {
	background-position: 5px -52px !important;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
	-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions {
	margin: 25px 0 0 0;
}

#submit {
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	float: left;
	height: 35px;
	padding: 0;
	width: 120px;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
}

#submit:hover, #submit:focus {
	background-color: #fddb6f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
	background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#submit:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
	border: none;
}

#actions a {
	color: #3151A2;
	float: right;
	line-height: 35px;
	margin-left: 10px;
}

/*--------------------*/

#back {
	display: block;
	text-align: center;
	position: relative;
	top: 60px;
	color: #999;
}
/*------------------*/
textarea {

	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 300px;
	margin: 2px 0 5px 5px;
}
select {

	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 5px 5px;
}
select.short {
	float: none;
	width: 80px;
}
/*--------*/

/*Dropbox*/
#dropbox {
	background-color: Gray;
	color: White;
	border: 5px solid black;
	text-align: center;
	width: 420px;
	height: 280px;
	display: block;
}
.cent {
	display: block;
	margin: 0px auto;
	width: 30%;
}
img.large {
	width: 420px;
	height: 280px;
}
.clear {
	clear: both;
}

/*
 drop
 */

legend {
	font-weight: bold;
	color: #333;
}

div.filedrag {
	width: 460px;
	height: 280px;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	cursor: default;
}

.filedrag.hover {
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#activity {
	margin: 10px;
	height: 100%;
	min-height: 800px;
}
.split {
	float: left;
	width: 46%;
	margin-right: 20px;
	padding: 5px;
	height: auto;
}
.split1 {
	float: left;
	width: 46%;
	margin-right: 20px;
	padding: 5px;
}

p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}
label {
	display: block;
	font-weight: bold;
	text-align: left;
	width: 300px;
	float: left;
	padding: 5px;
	margin: 10px;
	height: auto;
}
.small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}
input[type="text"] {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 5px 5px;
}
input[type="url"] {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 5px 5px;
}
input[type="number"] {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 5px 5px;
}
input[type="submit"] {

	float: right;
	margin: 2px 0 5px 5px;
	padding: 4px 2px;
	width: 125px;
	height: 31px;
	background: #666666;
	text-align: center;
	line-height: 3px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}
input[type="button"] {

	float: right;
	margin: 2px 0 5px 5px;
	padding: 4px 2px;
	width: 125px;
	height: 31px;
	background: #666666;
	text-align: center;
	line-height: 3px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

/* Added float_none on July 10, 2012 to override above label CSS behavior in maps UI */

label.float_none {
  float: none;
}

#googlemap {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
	top: 0px;
	left: 0px;
}

#map_canvas { 
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
	top: 0px;
	left: 0px;
}
#content {
	z-index: 1;
	display: block;
}

/* These are all used for displaying student activities */

.activityTable {
	min-height: 100%;
	width: 690px;
	position: relative;
}

#activity {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.activityItem {
	margin-left: 0px;
	width: 700px;
}

.activityItem:nth-child(odd) {
	margin-left: 0px;
	background-color: #f2f2f2;
}

.activityPhotoCell {
	width: 200px;
}

.aboutPhotoCell {
	width: 600px;
}

.activityTable img {
	height: 160px;
	width: 200px;
}

.questionLabel {
	font-weight: bold;
	font-style: italic;
}

.multipleChoiceAnswers {
	list-style-type: lower-alpha;
	padding-bottom: 1px;
}

.multipleChoiceAnswers li {
	margin-bottom: .5em;
	background-color: none;
}

.correctAnswer {
	color: green;
	border-bottom-color: green;
	border-bottom-style: dotted;
}

/* end styling for displaying student activities */
