@charset "UTF-8";
/* CSS Document */


    
	html { height: 100% }
  
  	body { height: 100%; margin: 0; background-color:#222 }
	.split { float:left; width:46%;margin-right:20px; padding:5px; height:60px; }
    #activity
	{
		margin-top:10px;
			}
	#map_canvas {width:880px;
		  margin-top:30px;
		  padding-top:30px;
		  padding-left:20px;
		  padding-right:20px;
		  border-style:solid;
border-width:5px;
	   }
	.text1{
		   color:#E9E9E9;
		   padding:10px;
		   text-align:left;
		   }
	.text{
		   color:#1E1E1E;
		   padding:10px;
		   text-align:right;
		   }
	#example {
		width:920px;
		height:100px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background:url(../../images/head.jpg);}
	
	#wrapper { width:920px; margin:0 auto; margin-top:30px;  }
	
	.maincontent { float:left; background:#fff; width:920px; }
	
	.style2 {background-color:#ffcccc;}
	



#activity h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#activity p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#activity label{
display:block;
font-weight:bold;
text-align:left;
width:200px;
float:left;
}
#activity .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#activity input[type="text"]{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 5px 5px;
}
#activity input[type="number"]{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 5px 5px;
}
#activity input[type="button"]{
clear:both;
margin-left:150px;
margin-bottom:50px;
width:125px;
height:31px;
background:#666666 ;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#activity textarea {
   
    float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
margin:2px 0 5px 5px;
   
}
#activity select {
   
    float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 5px 5px;
   
}

/* Tool tip */

* {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; }

a:hover {background:#ffffff; text-decoration:none;} /*BG color is a must for IE6*/

a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:150px;}

a.tooltip:hover span{display:inline; position:absolute; border:1px solid #cccccc; background:#ffffff; color:#6c6c6c;}

/*Dropbox*/
	#dropbox
		{
			background-color:Gray;
			color:White;
			border:5px solid black;
			text-align:center;
			width: 420px;
			height: 280px;
			display:block;
					}
		.cent{
			display: block;  margin: 0px auto;
			width:30%;
			
			}
		img.large {
	width: 420px;
	height: 280px;
}
 .clear {clear:both; }
 //
 /*
drop
*/



legend
{
	font-weight: bold;
	color: #333;
}

#filedrag
{
	
			
			
			
			width: 420px;
			height: 280px;
			
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#filedrag img
{
	width: 420px;
			height: 280px;
			
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}

#darkenBackground {
	
background-color: rgb(0, 0, 0);
opacity: 0.7; /* Safari, Opera */
-moz-opacity:0.70; /* FireFox */
filter: alpha(opacity=70); /* IE */
z-index: 20;
height: 100%;
width: 100%;
background-repeat:repeat;
position:fixed;
top: 0px;
left: 0px;
}
#process {
	left:30%;
	z-index: 50;
	position:fixed;
	background-color:#CCC;
top: 120px;
	
}